.postulate p{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
}
.postulate{
    height: auto;
    background-image: url(https://i.pinimg.com/736x/2e/64/5b/2e645bc4cc451ca93b58a2e97b51210f.jpg);
    opacity: 80%;
    padding: 20px;
}